In [13]:
import sqlite3
import pandas as pd

# Connect to the SQLite version
conn = sqlite3.connect("Chinook_Sqlite.sqlite")

In [16]:
# retrieve information
# - selecting customer; first name and last name
# - Join invoice tables on CustomerId to link customers
# - Join InvoiceLine table on InvoiceId to link invoices to purchased goods
# - Join track table on TrackId to get track names.
# - Join Album table on AlbumId to get album titles
# - order the results by customer last name and the first name

query = '''
    SELECT c.LastName, c.FirstName, t.Name AS TrackName, a.Title AS AlbumTitle
    FROM Customer AS c
    INNER JOIN Invoice AS i ON c.CustomerId = i.CustomerId
    INNER JOIN InvoiceLine AS il ON i.InvoiceId = il.InvoiceId
    INNER JOIN Track AS t ON il.TrackId = t.TrackId
    INNER JOIN Album AS a ON t.AlbumId = a.AlbumId
    ORDER BY c.LastName, c.FirstName
'''

In [17]:
# Execute the SQL queryand fetch the results into the DataFrame
df = pd.read_sql_query(query, conn)

In [6]:
# Close connection to the database
conn.close()

In [18]:
# Display the first few rows of the DataFrame
print(df.head())

  LastName FirstName                                          TrackName  \
0  Almeida   Roberto                            Right Next Door to Hell
1  Almeida   Roberto                                     In The Evening
2  Almeida   Roberto                                   Fool In The Rain
3  Almeida   Roberto  Saudade Dos Aviões Da Panair (Conversando No Bar)
4  Almeida   Roberto                             Caso Você Queira Saber

                AlbumTitle
0      Use Your Illusion I
1  In Through The Out Door
2  In Through The Out Door
3                    Minas
4                    Minas